/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
  font-family: monospace;
}

h1, p {
  padding: 0 1% 0 1%;
  width: 70%;
}

table {
  width: 75%;
}

td, th {
  padding: 1% 2% 1% 2%;
}

th {
  border-bottom: 2px dashed #FF0000;
  text-align: left;
}

td {
  cursor: help;
}

